.cardColumn{
    column-count: 4 !important;
}
.cardsCol{
    margin:0;
    padding:0;
    margin-bottom:10px;
    
}
@media only screen and (max-width: 800px) {
    .cardsCol {
        margin-right:6px;
        display: flex;
        justify-content: center;
        align-items: center !important;
    }
  }

@media only screen and (max-width: 800px) {
    .cardRow {
       /*  margin: -5px !important; */
    }
  }
.cardRow{
    width:100%;
    /* padding-left:8px; */
    margin-left: 5px;
}